<div class="main-box mx-auto">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-light" (click)="addMark(0,0,$event)"><h1>{{markTable[0][0]}}</h1></button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="addMark(0,1,$event)"><h1>{{markTable[0][1]}}</h1></button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="addMark(0,2,$event)"><h1>{{markTable[0][2]}}</h1></button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-light" (click)="addMark(1,0,$event)"><h1>{{markTable[1][0]}}</h1></button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="addMark(1,1,$event)"><h1>{{markTable[1][1]}}</h1></button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="addMark(1,2,$event)"><h1>{{markTable[1][2]}}</h1></button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-light" (click)="addMark(2,0,$event)"><h1>{{markTable[2][0]}}</h1></button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="addMark(2,1,$event)"><h1>{{markTable[2][1]}}</h1></button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-light" (click)="addMark(2,2,$event)"><h1>{{markTable[2][2]}}</h1></button>
        </div>
    </div>
</div>
